body
{
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 50px;
  background: #141414;
  overflow: hidden;
  height: 150vh;
  overflow-y: scroll;
}

#time-image
{
  position: fixed;
  top: -10px;
  left: 10px;
  width: 80px;
  height: 80px;
  opacity: 0.1;
}

.gradient
{
  --size: 300px;
  --speed: 20s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(hsl(0, 88%, 32%), hsl(233, 95%, 24%));
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  z-index: -1;
  position: fixed;

}

#gradient-container
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-150px, -125px);
}

@keyframes rotate
{
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}

#rok
{
  font-family: 'font', Arial, sans-serif;
  transform: translate(-0px, 65px);
  font-size: 20px;
  color: #b1afaf
}

.date-container
{
  padding: 20px;
  cursor: help;
  text-align: left;
  margin: 0px auto;
  display: block;
  border-radius: 40px;
  width: 200px;
  margin-bottom: 30px;
  transform: translateY(70px);
  box-shadow: 0 0 15px rgba(163, 163, 163, 0.8);
}

.targetDate
{
  font-size: 18px;
  font-family: 'font', Arial, sans-serif;
  margin-bottom: 10px;
  font-weight: bold;
  color: #ece9e9;
  text-align: center;
  line-height: 0.5;
}

.countdown
{
  font-size: 15px;
  font-family: 'font', Arial, sans-serif;
  font-weight: normal;
  margin-top: 20px;
  color: #c2c1c1;
  text-align: center;
  line-height: 0.5;
}

#nadpis
{
  font-size: 30px;
  font-family: 'font', Arial, sans-serif;
  color: #b1afaf;
  border-radius: 40px;
  transform: translateY(30px);
  margin: 0px auto;
  margin-bottom: 35px;
}


#ond
{
  color: #6b6b6b;
  margin: 0px auto;
  transform: translateY(40px);
}

@font-face
{
  font-family: 'font';
  src: url('/prazdniny/font/font1.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

#calbut
{
  z-index: 999;
  position: absolute;
  transform: translate(130px, -70px);
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

#info-overlay
{
  font-family: 'font', Arial, sans-serif;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  text-align: center;
}

#info-box
{
  font-family: 'font', Arial, sans-serif;
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  height: 150px;
  width: 270px;
  color: white;
  border: 2px solid transparent;
  border-radius: 30px;
  box-shadow: 0 0 15px rgba(163, 163, 163, 0.8);
  text-align: center;
  position: relative;
}

#info-title
{
  font-size: 20px;
  text-align: center;
  transform: translateY(20px);
}

#info-content
{
  font-size: 16px;
  text-align: center;
  transform: translateY(40px);
}


/* PADÁNÍ VLOČEK */
.snowflakes
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.snowflake
{
  position: absolute;
  color: #fff;
  font-size: 20px; /* Velikost vločky */
  animation: fall linear infinite;
}

@keyframes fall
{
  0%
  {
    transform: translateY(-10vh);
  }
  100%
  {
    transform: translateY(110vh);
    opacity: 0;
  }
}





/* OBSAH PRO OSTATNÍ ZAŘÍZENÍ */
/* IPHONE SE 2020 */
@media only screen and (max-width: 375px)
{
  .date-container
  {
    width: 85%;
    transform: translateY(125px);
  }

  #nadpis
  {
    font-size: 25px;
    transform: translateY(30px);
    margin-bottom: -60px;
  }

  #ond
  {
    color: #6b6b6b;
    margin: 0px auto;
    transform: translateY(25px);
  }

  #time-image
  {
    position: absolute;
    top: -10px;
    left: 10px;
    width: 80px;
    height: 80px;
    opacity: 0.1;
  }
}

/* IPHONE 15 */
@media only screen and (width: 393px)
{
  #time-image
  {
    position: absolute;
    top: -10px;
    left: 10px;
    width: 80px;
    height: 80px;
    opacity: 0.1;
  }
}
